*{
    box-sizing: border-box;
 }


html,body {
   margin:0;
}

body {
    display: flex;
    flex-direction:column ;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    
}

.logo {
    width: 130px;
    margin-top: 25px;
    margin-bottom: 50px;

  
}
header{
    text-align: center;
}
div h2 {
    text-align: left;
    color: #f9f9f9;
    font-size: 30px;
}
header, div {
    margin:0 auto 70px auto;
    width: 90%;
    max-width: 550px;
    height: 200px;
    margin-top: 10px;
}
h2{
    color:#acc811;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(217, 217, 217);

}
div {
    display: grid;
    
 
    align-items: center;
    background-color:#4b2779;
    padding: 16px 40px;
    border-radius: 6px;
   
  
}
button#dep {
    margin-left: 25%;
    margin-top: 10px;
    width: 50%;
    padding: 5px;
    border-radius: 4px;
    background-color: #0babb9;
    border: none;
    color: #f9f9f9;
    font-weight:bold;
}

button#fun {
    margin-left: 25%;
    width: 50%;
    padding: 5px;
    border-radius: 4px;
    background-color: #4565ac;
    border: none;
    color: #f9f9f9;
    font-weight:bold;
}
a{
    
    margin-left: 47%;
    border: none;
    color: white;
}